<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://translate.yandex.net/api/v1.5/tr.json/translate?key=trnsl.1.1.20190713T130130Z.fd48f324a0097b3d.fb88ccdc8ac35064898e180db2ca79428bc7069e</string>
</array>
</plist>
